.open-checkout-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.open-checkout-btn:hover {
  background-color: var(--primary-color-dark);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.checkout-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 380px;
  background-color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 50;
  overflow-y: auto;
}

.checkout-panel.open {
  transform: translateX(0);
}

.checkout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row .form-group {
  flex: 1;
}

.month-year {
  display: flex;
  justify-content: space-between;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--primary-color-dark);
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .checkout-panel {
    max-width: none;
  }
}

.error {
  color: red;
  text-align: left;
  font-size: 0.9em;
  font-style: italic;
  color: #cc0033;
  display: inline-block;
  line-height: 15px;
}

.field-title {
  margin-top: 5px;
}

.checkout-select {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

/* .total-border {
  border: 1px solid #ccc;
  margin: 5px;
} */

.total-container {
  text-align: right;
  margin-top: 20px;
}

.items-b4tax-price {
  padding-bottom: 5px;
}

.surcharge {
  padding-bottom: 5px;
}

.total-text-price {
  font-weight: bold;
}
